.full-height-container {
  height: 100vh;
}

.input-background {
  border: 2px solid black;
}
.input-width {
  width: 25vw;
}
.container-border {
  border: 2px black dotted;
}
.container-double-border {
  border: 2px black double;
}
